.grid-item {
    padding: 14px;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: #d2d2d2;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: default;
}

.grid-item:nth-last-child,
.grid-item:nth-child(3n) {
    border-bottom: 1px solid;
}

.editable {
    cursor: pointer;
}

.editable-enabled {
    padding: 0;
    width: 48px;
    height: 48px;
}

.text-box {
    display: "block";
    width: 48px;
    height: 48px;
    border: "none";
    font-size: 24px;
}

@media only screen and (max-width: 900px) {
    .grid-item {
        width: 10px;
        height: 10px;
        padding: 12px;
        font-size: 16px;
    }

    .text-box {
        width: 34px;
        height: 34px;
        border: none;
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    .grid-item {
        border-left: 1px solid;
        border-top: 1px solid;
        border-color: #6f6e6e;
    }

    .grid-item:nth-child(3n),
    .grid-item:nth-last-child {
        border-bottom: 1px solid;
    }
}