.grid-item {
    position: relative;
    padding: 14px;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: #d2d2d2;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: default;
}

.grid-item:nth-last-child,
.grid-item:nth-child(3n) {
    border-bottom: 1px solid;
}

.editable {
    cursor: pointer;
}

.editable-enabled {
    padding: 0;
    width: 48px;
    height: 48px;
}

.text-box {
    display: "block";
    width: 48px;
    height: 48px;
    border: "none";
    font-size: 24px;
    text-align: center;
}

.error {
    background-color: #ff0000ab;
    color: white;
    border-color: #ff0000ab !important;
}

.error::after {
    content: '/';
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(35deg);
}

.focus {
    background-color: #6ad8efa1;
    border-color: #fff7f7;
}

.correct-value {
    position: absolute;
    top: 5%;
    left: 70%;
    font-size: 12px;
    border-radius: 50%;
    color: lightgreen;
    font-weight: 600;
}

@media only screen and (max-width: 900px) {
    .grid-item {
        width: 10px;
        height: 10px;
        padding: 12px;
        font-size: 16px;
    }

    .text-box {
        width: 34px;
        height: 34px;
        border: none;
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    .grid-item {
        border-left: 1px solid;
        border-top: 1px solid;
        border-color: #6f6e6e;
    }

    .grid-item:nth-child(3n),
    .grid-item:nth-last-child {
        border-bottom: 1px solid;
    }
}