#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.colorful-text{
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button,
button:focus,
button:hover {
  border-color: black !important;
  margin: 0 16px;
}

.modes-nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
}

.modes-nav-item {
  list-style-type: none;
}

.mode-nav-item-selector,
.mode-nav-item-selector:hover {
  margin: 0 !important;
  border-width: 0;
  background-color: transparent;
  border-radius: 8px 8px 0 0;
}

.mode-nav-item-selector:hover,
.mode-nav-item-selector_active {
  border-width: 1px;
  border-bottom: 0px;
  background-color: #f9f9f9;
  margin: 0;
  transition: all 0.5s ease-in;
  color: black;
}

.footer {
  letter-spacing: 0.2em;
}

@media (prefers-color-scheme: dark) {

  button,
  button:focus,
  button:hover {
    border-color: white !important;
  }
}